.form {
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px 20px 20px 20px;
    margin: auto;
    background-color: #FFFAFA;
    box-shadow: 0px 1px 10px 4px #bb0a1e;
}

.Label {
    color: #bb0a1e;
    font-weight: bold;
}

.Label::after {
    content: ' *';
    color: #bb0a1e;
}

.formHeading {
    background-color: #bb0a1e;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 1px 10px 4px #bb0a1e;
    text-align: center;
}

.rightColumn {
    margin-top:-50px;
    overflow-y: auto;
    height: 470px;
}

.MediaObject {
    max-width: 250px;
    max-height: 250px;
}

.breadCrumb {
    margin-top: 20px;
}

.pageHeading {
    margin-top: 100px;
    color: #bb0a1e;
    font-weight: bold;
}