.Form{
    margin-left: 30px;
}

.Badge{
    margin-left: 15px;
}

.Button{
    margin-bottom: 30px;
}

.Label{
    color: #bb0a1e;
    font-weight: bold;
}

.Label::after{
    content: ' *';
    color: #bb0a1e;
}