.LeftColumn {
    margin-top: 150px;
    color: #bb0a1e;
    font-weight: bolder;
}

.RightColumn {
    margin-top: 100px;
}

.Label {
    color: #bb0a1e;
    font-weight: bold;
}

.Label::after {
    content: ' *';
    color: red;
}

.contactDetail {
    margin-left: 12px;
}

.SocialIcon {
    margin: 5px;
}

.SocialIconLeft{
    margin-top: 5px;
    margin-right: 5px;
}